.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@font-face {
  font-family : 'Font-Awesome-Brands';
  font-style  : normal;
  font-weight : 400;
  font-display: block;
  src         : url('./font/fa-brands-400.eot');
  src         : url('./font/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('./font/fa-brands-400.woff2') format('woff2'),
    url('./font/fa-brands-400.woff') format('woff'),
    url('./font/fa-brands-400.ttf') format('truetype');
}

@font-face {
  font-family : 'Font-Awesome-Regular';
  font-style  : normal;
  font-weight : 400;
  font-display: block;
  src         : url('./font/fa-regular-400.eot');
  src         : url('./font/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('./font/fa-regular-400.woff2') format('woff2'),
    url('./font/fa-regular-400.woff') format('woff'),
    url('./font/fa-regular-400.ttf') format('truetype');
}

@font-face {
  font-family : 'Font-Awesome-Solid';
  font-style  : normal;
  font-weight : 900;
  font-display: block;
  src         : url('./font/fa-solid-900.eot');
  src         : url('./font/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('./font/fa-solid-900.woff2') format('woff2'),
    url('./font/fa-solid-900.woff') format('woff'),
    url('./font/fa-solid-900.ttf') format('truetype');
}
